<!DOCTYPE html>
<html>
  <%- include("head") %>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
  />
  <body>
    <div class="app-container">
      <%- include('user-header') %>
      <div class="admin-container">
        <h1>
          Gain admin privileges
          <span class="material-symbols-outlined"> key </span>
        </h1>
        <form class="admin-form" action="/clubhouse/admin" method="POST">
          <label for="adminPassword" hidden>Enter admin password</label>
          <input
            name="adminPassword"
            type="password"
            placeholder="Enter admin password"
          />
          <button class="adminBtn">
            Submit
            <span class="material-symbols-outlined">
              subdirectory_arrow_right
            </span>
          </button>
          <button id="go-back" class="backBtn" type="button">
            <span class="material-symbols-outlined"> arrow_back </span>Back
          </button>
        </form>
        <div class="error_message-container">
          <ul>
            <% if (typeof errors != "undefined") { %> <% for(const error of
            errors) {%>
            <li class="error-msg"><%=error.msg %></li>
            <% } %> <% } %>
          </ul>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/javascripts/ui_scripts.js"></script>
  </body>
</html>
