<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <%- include('user-header') %>
    <div class="bouncer-container">
      <h1>Bouncer</h1>
      <p>enter password to unlock</p>
    </div>
  </body>
</html>
