<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <div class="app-container">
      <%- include('user-header') %> <%- include("welcome") %>
    </div>
  </body>
</html>
