<!DOCTYPE html>
<html>
  <%- include("head") %>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
  />
  <body>
    <div class="app-container">
      <%- include('user-header') %>
      <div class="message_board-container">
        <h1>All messages</h1>
        <ul>
          <% if(message_list.length > 0){ %> <% for(const message of
          message_list) {%>
          <li><%- include('message_card', {user, message}) %></li>
          <% } %> <% } else{ %>
          <p>There are no messages</p>
          <% } %>
        </ul>
      </div>
    </div>
  </body>
</html>
