<div class="message_card">
  <div class="card-top"></div>
  <div class="card-content">
    <p class="card-timestamp"><%=message.timestamp_formatted %></p>
    <h2 class="card-title"><%=message.msg_title%></h2>
    <div class="card-body"><%=message.msg_text%></div>
  </div>
</div>
