@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap");
/* $buttonColor: #f69ec4; */
*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  color: #d4d3d3;
}

h1 {
  color: #d4d3d3;
}

body {
  font-family: "Merriweather Sans", sans-serif;
}

.app-container {
  min-height: 100vh;
}

.user-header-container {
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
}

.user_avatar {
  height: 2.5rem;
  width: 2.5rem;
  border: solid 2px #d4d3d3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user_avatar span {
  font-size: 1.5rem;
  font-weight: bold;
  mix-blend-mode: difference;
}

.userpage_username .user_avatar span {
  filter: none;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 18vh;
  padding: 1rem;
  background-color: #1e3148;
  color: #d4d3d3;
  position: sticky;
  top: 0;
  z-index: 99;
}

.login-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 2rem;
  margin-top: 2rem;
}

.login-form,
.signup-form,
.admin-form,
.create_message-form {
  display: flex;
  /*   height: 2.5rem; */
  gap: 1rem;
}

.login-form input,
.signup-form input,
.bouncer-form input,
.admin-form input,
.create_message-form input {
  all: unset;
  padding: 0.25rem;
  border-bottom: solid 2px #f9dd94;
  color: #f9dd94;
}

.login-form input:focus,
.signup-form input:focus,
.bouncer-form input:focus,
.admin-form input:focus,
.create_message-form input:focus {
  border-bottom: solid 4px #2f8dff;
}

.login-form button,
.signup-form button,
.bouncer-form button,
.admin-form button,
.create_message-form button {
  border-radius: 0;
  border: none;
  height: 3rem;
  min-width: 5rem;
  width: 100%;
  background-color: #f9dd94;
  color: #0c151d;
}

.backBtn,
.signUpBtn,
.becomeMemberBtn,
.adminBtn {
  border-radius: 0;
  border: none;
  height: 3rem;
  min-width: 5rem;
  width: 100%;
  background-color: #f9dd94;
  color: #0c151d;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.backBtn:hover,
.signUpBtn:hover,
.becomeMemberBtn:hover,
.adminBtn:hover {
  background-color: #f8d57c;
}

.favcolor {
  color: #d4d3d3;
}

.signup-form .colorPicker {
  height: 3rem;
  width: 3rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.login-form button:hover,
.signup-form button:hover,
.bouncer-form button:hover,
.admin-form button:hover,
.create_message-form button:hover {
  background-color: #f8d57c;
}

.signUp-button {
  text-decoration: none;
  border-radius: 0;
  border: none;
  padding: 0.75rem;
  background-color: #f9dd94;
  color: #0c151d;
}

.signUp-button:hover {
  background-color: #f8d57c;
}

.welcome_showMessages-button {
  text-decoration: none;
  border-radius: 0;
  border: none;
  padding: 0.75rem;
  background-color: #f9dd94;
  color: #0c151d;
}

.create_account-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 2rem;
}

.userInfo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 2rem;
}

.userInfo-container h1 {
  width: 30%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  font-size: 1.5rem;
}

.user_details-container {
  margin: 1rem 0;
}

.user_details-container * {
  display: flex;
  gap: 0.5rem;
}

.admin_link {
  display: flex;
  align-items: center;
}

.user-options-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  width: 60%;
  font-weight: bold;
}

.user-options-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 0.5rem;
}

.user-options-container a:hover {
  border-bottom: solid 2px #f69ec4;
}

.logout-btn {
  width: 10%;
}

.logout-btn button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  border: none;
  height: 2rem;
  width: 6rem;
  background-color: #f9dd94;
  color: #0c151d;
}

.logout-btn button:hover {
  background-color: #f6ce64;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 82vh;
  background-image: url("../images/bouncer.webp");
  background-position: center;
}

.welcome-container h1 {
  font-size: 2.5rem;
  background: inherit;
  -webkit-background-clip: text;
  background-clip: text;
  filter: drop-shadow(0.2rem 0.2rem #1e3148);
}

.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1e3148;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  height: 66%;
  gap: 1rem;
}

.bouncer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../images/bouncer.webp");
  background-position: center;
}

.bouncer-container .form-container {
  background-color: rgba(250, 235, 215, 0.8);
  height: 60%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.bouncer-container .form-container h1 {
  color: #0c151d;
}

.bouncer-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.admin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 82vh;
  background-color: #1e3148;
}

.create_message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 82vh;
  background-color: #1e3148;
}

.create_message-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 33%;
  width: 33%;
  gap: 2rem;
}

.create_message-form input {
  height: 1.5rem;
  width: 100%;
}

.create_message-form textarea {
  all: unset;
  height: 1.5rem;
  width: 100%;
  padding: 0.25rem;
  border-bottom: solid 2px #f9dd94;
  color: #f9dd94;
  transition: all 0.2s ease-in;
}

.create_message-form textarea:focus {
  border: solid 2px #2f8dff;
  height: 5rem;
  transition: all 0.2s ease-out;
}

.submit_message-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 2rem;
  border: none;
  outline: solid 4px #f9dd94;
  background-color: #f9dd94;
  font-size: 1.5rem;
}

.submit_message-btn:hover {
  outline: solid 4px #f8d886;
  background-color: #f8d886;
}

.message_board-container,
.userpage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  min-height: 82vh;
  background-color: #1e3148;
  flex-wrap: wrap;
}

.message_board-container h1 {
  color: #d4d3d3;
}

.message_board-container ul,
.userpage-container ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 66%;
  max-width: 100%;
  list-style: none;
  padding: 0;
  gap: 2rem;
  color: #d4d3d3;
}

.message_board-container ul li,
.userpage-container ul li {
  width: 66%;
}

.user_info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #d4d3d3;
}

.message_card {
  width: 100%;
  min-height: 15rem;
  float: left;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.05);
  background: #32557f;
  -webkit-transition: 0.3s all ease;
  transition: 0.15s all ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
}

.card-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: solid 5px #d4d3d3;
}

.card-content {
  padding: 15px 20px;
  max-width: 100%;
  height: 100%;
  word-wrap: break-word;
}

.card-title {
  font-size: 2rem;
  padding: 0;
  margin: 0 0 10px;
  letter-spacing: -0.075rem;
}

.card-timestamp,
.card-author {
  text-align: right;
}

.card-author {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card-body {
  color: #f9dd94;
  padding: 0;
  margin: 0;
}

.card-options-container form {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  gap: 1rem;
  font-size: 1.5rem;
}

.card-options-hidden {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.card-option {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-option span {
  font-size: 2.5rem;
  cursor: pointer;
}

.card-option span:hover {
  color: #f69ec4;
  animation: spin-animation 0.5s;
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
.userpage_username {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
}

.error_message-container {
  min-height: 1rem;
  width: 100%;
  color: #d4d3d3;
}

.floating-label-group {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}
.floating-label-group .floating-label {
  font-size: 1rem;
  color: #d4d3d3;
  position: absolute;
  pointer-events: none;
  top: 5px;
  left: 12px;
  transition: all 0.1s ease;
}
.floating-label-group input:focus ~ .floating-label,
.floating-label-group input:not(:focus):valid ~ .floating-label {
  top: -15px;
  bottom: 0px;
  left: 0px;
  font-size: 0.75rem;
  opacity: 1;
  color: #f9dd94;
}
